*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    background-color: green;
    padding: 15px;
    padding-left: 140px;
}
.container{
    background-color: antiquewhite;
    width: 100%;
    padding: 67px 0;
}
.core{
    width: 400px;
    height: 450px;
    background-color: white;
    margin: 0 auto;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    box-shadow: 10px 15px gray;
}
input{
    width: 80%;
    height: 40px;
    padding: 5px 30px;
    border: 1px solid darkgreen;
    border-radius: 5px;
    background-image: url(image/iconfinder_user-avatar-human-admin-login_2203549.png);
    background-repeat: no-repeat;
    background-position: 5px 10px;
    box-sizing: border-box;
}
#c1{
    width: 80%;
    height: 40px;
    margin-top: 15px;
    background-color: lime;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    font-size: 15px;
    border: none;
}
.hi2{
    width: 125px;
    display: inline-block;
}
.hri{
    padding: 10px 0;
}
.hi1{
    display: block;
    margin: 30px 0;
}
#c2{
    width: 80%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid blue;
    color: white;
    font-weight: bold;
    background-image: url(image/iconfinder_Google_2613276.png);
    background-repeat: no-repeat;
    background-size: 45px;
    background-color: rgb(106, 106, 252);
    background-position: -4px -2px;
}
#c3{
    width: 80%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    background-image: url(image/iconfinder_47_53800.png);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 68px 13px;
}
a{
    text-decoration: none;
    color: brown;
    font-size: 12px;
}
.tag{
    display: inline-block;
    width: 125px;
}
#c4{
    margin-top: 20px;
    padding: 10px 50px;
    font-weight: bold;
    color: green;
    border-radius: 5px;
    background-color: white;
    border: 1px solid wheat;
}